{% extends "base.html" %}

{% block title %}
  Search a video
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="center-align">Search a Video</h1>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="video_url" type="text" class="validate">
            <label for="disabled">Video URL</label>
          </div>
        </div>
        <div class="center-align">
          <button class="btn waves-effect waves-light center"
                  type="submit" name="action">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}